@use "./config";

.alert {
    padding: config.$gutter-quarter config.$gutter-half;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: config.$bg-color;
    color: config.$color;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow:
        inset 0 -2px 2px rgba(255, 255, 255, 0.1),
        1px 1px 2px rgba(0, 0, 0, 0.25);

    &.alert-danger {
        background-color: config.$danger-bg;
        border-color: config.$danger-border;
        color: config.$danger-color;
    }

    &.alert-warning {
        background-color: config.$warn-bg;
        border-color: config.$warn-border;
        color: config.$warn-color;
    }
}
