@use "./config";

.canvas-gutter {
    $gutter-padding-left: config.$gutter-half;
    $inline-icon-size: 0.9rem;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: config.$gutter;
    height: config.$editor-gutter-height;
    background-color: config.$sidebar-bg-color;
    font-size: 80%;
    padding: 0 $gutter-padding-left;
    position: relative;
    z-index: config.$z-index-gutter;

    &.bottom {
        border-top: 2px solid config.$border-color;
    }
    &.top {
        border-bottom: 2px solid config.$border-color;
    }

    .app-links {
        width: config.$canvas-sidebar-width;
        border-right: 2px solid config.$border-color;
        padding: 0;
        justify-content: center;
        margin-left: -($gutter-padding-left);
        height: 100%;
        background-color: config.$canvas-sidebar-bg;
    }

    .current-coordinates {
        // so that it doesn't shift around when the number change; it will still shift when you get
        // to three digit numbers, but that's not very common and the narrower width looks better
        // in the common case.
        min-width: 4em;
        text-align: center;
    }
    .selection-size-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;

        // same story as above, try to prevent it from shifting around until you get to three digits
        min-width: 5em;

        i {
            font-size: $inline-icon-size;
        }
    }

    .gutter-list {
        display: flex;
        gap: config.$gutter;
        align-items: center;

        &.gutter-list-sm {
            gap: $gutter-padding-left;
        }

        .checkbox-container {
            display: flex;
            align-items: center;
            gap: 0.25rem
        }
    }

    .link-list {
        display: flex;
        gap: config.$gutter-half;
        font-size: $inline-icon-size;

        a {
            opacity: 0.75;
            transition: opacity linear 100ms;
            text-shadow: 1px 1px 1px rgba(black, 0.35);

            &:hover {
                opacity: 1;
            }
        }
    }

    .zoom-level-label {
        cursor: pointer;
    }

    .zoom-level-value {
        display: inline-block;
        width: 1.7em; // totally rock solid
    }

    .divider {
        height: 100%;
        border-right: 2px solid config.$border-color;
    }

    .breadcrumb {
        display: flex;
        gap: config.$gutter-eighth;

        .active-group-name, .active-object-name {
            max-width: 10em;
        }

        .breadcrumb-divider {
            color: config.$muted-color;
        }
    }
}
