@use "./config";

.canvas-area {
    position: absolute;
    top: 4rem;
    left: 4rem;

    &:has(.frame-container) {
        border: 2px solid config.$border-color;
        box-shadow:
            -2px -2px 10px rgba(0, 0, 0, 0.25),
            5px 5px 10px rgba(0, 0, 0, 0.25);
    }
}

.canvas-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: config.$gutter;

    canvas {
        box-shadow: 2px 2px 5px rgba(black, 0.5);
    }
}

.frame-container {
    position: relative;

    canvas {
        $editor-z-index: config.$z-index-canvas;

        width: 100%;
        height: 100%;

        &.editor {
            image-rendering: pixelated;
            cursor: crosshair;
            position: relative;
            z-index: $editor-z-index;
        }

        &.editor-grid, &.editor-hover, &.editor-bg, &.editor-transient {
            pointer-events: none;
            position: absolute;
            image-rendering: pixelated;
            z-index: $editor-z-index;
            top: 0;
            left: 0;
        }

        &.editor-bg {
            z-index: $editor-z-index - 1;
        }
    }
}
