@use "./config";

.canvas-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: config.$gutter;

    canvas {
        box-shadow: 2px 2px 5px rgba(black, 0.5);
    }
}
