@use "./config";

.color-picker {
    form {
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 85%;
            font-family: config.$font-mono;
            color: config.$muted-color;
            font-weight: bold;
        }
    }
}
