@use "./config";

.color-picker {
    form {
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 85%;
            font-family: config.$font-mono;
            color: config.$muted-color;
            font-weight: bold;
        }
    }
}

.color-picker-rgb {
    display: flex;
    flex-direction: column;
    gap: config.$gutter-quarter;
    align-items: center;

    .test {
        display: none;
    }

    .picker-area {
        display: flex;
        gap: config.$gutter-half;
        justify-content: center;
        width: 100%;
        height: (config.$gutter * 16);

        .sat-val-picker {
            cursor: crosshair;
            background-color: white;
            aspect-ratio: 1/1;
            position: relative;

            .active-color {
                $size: 8px;
                width: $size;
                height: $size;
                position: absolute;
                border-radius: $size;
                border: 2px solid black;

                &.light {
                    border-color: white;
                }
            }
        }

        .hue-picker {
            width: 2rem;
            padding: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-image: linear-gradient(to bottom,
                hsl(0 100% 50%) 0,
                hsl(36 100% 50%) 10%,
                hsl(72 100% 50%) 20%,
                hsl(108 100% 50%) 30%,
                hsl(144 100% 50%) 40%,
                hsl(180 100% 50%) 50%,
                hsl(216 100% 50%) 60%,
                hsl(252 100% 50%) 70%,
                hsl(288 100% 50%) 80%,
                hsl(324 100% 50%) 90%,
                hsl(359 100% 50%) 100%
            );

            input[type="range"] {
                height: 100%;
                writing-mode: vertical-lr;
            }
        }
    }

    form {
        display: flex;
        gap: config.$gutter-quarter;
        align-items: center;
        font-size: 85%;

        > div {
            display: flex;
            gap: config.$gutter-eighth;
            align-items: center;
        }

        input {
            width: 6em;
        }

        td > div {
            display: flex;
            gap: config.$gutter-eighth;
            align-items: center;
            justify-content: space-between;

        }
    }

    .color-swatch {
        vertical-align: middle;
        width: 100%;
        height: 1rem;
    }
}
