@use "sass:color";
@use "sass:math";

$font-sans: "Noto Sans", sans-serif;
$font-mono: Consolas, monospace;

$gutter: 1rem;
$gutter-half: math.div($gutter, 2);
$gutter-quarter: math.div($gutter, 4);
$gutter-eighth: math.div($gutter, 8);
$header-height: 3rem;
$input-radius: 4px;
$input-font-size: 90%;
$sidebar-width: 16rem;
$sidebar-padding-x: $gutter;
$sidebar-padding-y: $gutter;
$editor-gutter-height: 2rem;
$editor-gutter-padding: $gutter-quarter;
$canvas-sidebar-width: 8rem;


$bg-color: #363636;
$color: #B8B8B8;
$muted-color: #646464;

$success-bg: #356c35;
$success-border: #499649;
$danger-bg: #8d3e3e;
$danger-color: #d08c8c;
$danger-border: #b24f4f;
$primary-color: #c96ac9;
$primary-bg: #793679;
$primary-border: #9f479f;
$secondary-bg: #366d79;
$secondary-border: #468e9d;

$card-title-bg: color.adjust($bg-color, $lightness: -5%);
$card-body-bg: color.adjust($bg-color, $lightness: -2%);
$accent-color: color.adjust($color, $lightness: 10%);
$accent-bg: color.adjust($bg-color, $lightness: 2%);
$input-bg-color: color.adjust($bg-color, $lightness: -5%);
$input-color: $color;
$input-border: color.adjust($bg-color, $lightness: 5%);
$input-focus-color: $primary-color;
$input-shadow-color: $primary-bg;
$sidebar-bg-color: color.adjust($bg-color, $lightness: -2%);
$border-color: color.adjust($bg-color, $lightness: 5%);
$header-bg-color: $sidebar-bg-color;
$canvas-sidebar-bg: color.adjust($sidebar-bg-color, $lightness: -2%);

