@use "sass:color";
@use "sass:math";

$font-sans: "Noto Sans", sans-serif;
$font-mono: "Source Code Pro", monospace;

$gutter: 1rem;
$gutter-half: math.div($gutter, 2);
$gutter-quarter: math.div($gutter, 4);
$gutter-eighth: math.div($gutter, 8);
$header-height: 3rem;
$input-radius: 4px;
$input-font-size: 90%;
$sidebar-width: 16rem;
$sidebar-padding-x: $gutter;
$sidebar-padding-y: $gutter;
$editor-gutter-height: 2.125rem;
$editor-gutter-padding: $gutter-quarter;
$canvas-sidebar-width: 8rem;

$z-index-canvas: 5;
$z-index-gutter: $z-index-canvas + 1;
$z-index-modal-overlay: 100;
$z-index-popover: 110;
$z-index-toast: 150;

$bg-color: #363636;
$color: #B8B8B8;
$muted-color: #808080;

$success-color: #a3d0a3;
$success-bg: #366b36;
$success-border: #438843;
$danger-bg: #803838;
$danger-color: #d08c8c;
$danger-border: #9f4747;
$primary-color: #c96ac9;
$primary-bg: #793679;
$primary-border: #9f479f;
$secondary-bg: #366d79;
$secondary-border: #468e9d;
$secondary-color: #a2dbe8;
$warn-color: #c6b488;
$warn-bg: #60522b;
$warn-border: #806e42;
$tertiary-bg: #444444;
$tertiary-color: #919191;
$tertiary-border: #6c6c6c;

$help-keyword-color: $secondary-color;
$help-keyword-menu-color: #e3c68d;
$help-keyword-shortcut-color: #7083c4;

$card-title-bg: color.adjust($bg-color, $lightness: -5%);
$card-body-bg: color.adjust($bg-color, $lightness: -2%);
$accent-color: color.adjust($color, $lightness: 10%);
$accent-bg: color.adjust($bg-color, $lightness: 2%);
$input-bg-color: color.adjust($bg-color, $lightness: -5%);
$input-color: $color;
$input-border: color.adjust($bg-color, $lightness: 5%);
$input-focus-color: $primary-color;
$input-shadow-color: $primary-bg;
$sidebar-bg-color: color.adjust($bg-color, $lightness: -2%);
$border-color: color.adjust($bg-color, $lightness: 5%);
$header-bg-color: $sidebar-bg-color;
$canvas-sidebar-bg: color.adjust($sidebar-bg-color, $lightness: -2%);
$code-color: #a4844c;
$canvas-container-bg: $bg-color;
$sidebar-border-width: 2px;

$table-bg: color.adjust($sidebar-bg-color, $lightness: -1%);
$table-bg-hover: color.adjust($table-bg, $lightness: 7%);

$media-breakpoint-sm: 1000px;

