@use "sass:color";
@use "sass:math";

$gutter: 1rem;
$gutter-half: math.div($gutter, 2);
$gutter-quarter: math.div($gutter, 4);
$gutter-eighth: math.div($gutter, 8);
$header-height: 3rem;
$input-radius: 4px;
$input-font-size: 90%;
$sidebar-width: 16rem;
$sidebar-padding-x: $gutter;
$sidebar-padding-y: $gutter;
$editor-gutter-height: 2rem;
$editor-gutter-padding: $gutter-quarter;

$bg-color: #363636;
$color: #B8B8B8;
$accent-bg: color.adjust($bg-color, $lightness: 2%);
$input-bg-color: color.adjust($bg-color, $lightness: -5%);
$input-color: $color;
$input-border: color.adjust($bg-color, $lightness: 5%);
$sidebar-bg-color: color.adjust($bg-color, $lightness: -5%);
$border-color: color.adjust($bg-color, $lightness: 5%);
$header-bg-color: color.adjust($sidebar-bg-color, $lightness: -5%);
$success-bg: #356c35;
$success-border: #499649;
$danger-bg: #8d3e3e;
$danger-border: #b24f4f;
$primary-color: #c96ac9;
$primary-bg: #793679;
$primary-border: #9f479f;
$secondary-bg: #366d79;
$secondary-border: #468e9d;
