@use "./config";

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    padding-top: config.$gutter-quarter;

    .dropdown-item {
        width: 100%;

        &.divider {
            margin: config.$gutter-quarter 0;
            border-bottom: 2px solid config.$border-color;
        }

        a {
            display: flex;
            gap: config.$gutter-half;
            align-items: center;
            width: 100%;
            padding: config.$gutter-quarter config.$gutter;
            color: config.$color;
            text-decoration: none;

            &.disabled {
                opacity: 0.35;
                pointer-events: none;
            }

            &:hover {
                color: config.$accent-color;
                background-color: config.$accent-bg;
            }
        }
    }
}
