@use "sass:color";
@use "./config";

.empty-project-hero {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/bg-mario.png");
    background-repeat: repeat;
    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: safe center;

    padding: (config.$gutter * 4);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);

    @media (max-width: config.$media-breakpoint-sm) {
        padding: config.$gutter;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        gap: config.$gutter;
    }

    .hero-text {
        font-size: 150%;
        text-align: center;
    }

    .hero-link-item {
        height: config.$gutter * 4;
        padding: config.$gutter-quarter;
        display: flex;
        gap: config.$gutter-half;
        align-items: center;
        text-decoration: none;
        color: inherit;
        border: 2px solid config.$border-color;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        background-color: config.$bg-color;

        &:hover {
            background-image: linear-gradient(to bottom, config.$bg-color, config.$sidebar-bg-color);
            box-shadow:
                2px 2px 4px rgba(0, 0, 0, 0.5),
                0 0 3px rgba(config.$primary-bg, 0.75),
                0 0 8px rgba(0, 0, 0, 0.75);
        }

        header {
            font-weight: bold;
            font-size: 105%;
        }

        .link-text-details {
            color: config.$muted-color;
            font-size: 90%;
        }

        .local-save {
            img {
                display: none;
            }
        }

        figure {
            height: 100%;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                font-size: 250%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            }

            .transparent-checkerboard {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: config.$primary-bg;
            }
        }
        .link-text {
            flex: 1;
        }
    }

    .row {
        display: flex;
        gap: (config.$gutter * 2);
        justify-content: space-around;
        align-items: flex-start;

        @media (max-width: config.$media-breakpoint-sm) {
            flex-direction: column;
            .col {
                width: 100%;
            }
        }
    }
    .col, .aside-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: config.$gutter;
    }

    .col > p {
        min-height: 40px;
    }

    aside {
        font-size: 90%;
        color: config.$muted-color;
        text-shadow: none;
        margin-top: config.$gutter;
        display: flex;
        justify-content: center;

        .aside-container {
            max-width: 75%;
        }
    }
}
