@font-face {
    font-display: swap;
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('SourceCodePro-Regular'), url('/fonts/source-code-pro-v31-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('NotoSans-Regular'), url('/fonts/noto-sans-v42-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local('NotoSans-Bold'), url('/fonts/noto-sans-v42-latin-700.woff2') format('woff2');
}
