@use "./config";

input {
    border-radius: config.$input-radius;
    background-color: config.$input-bg-color;
    border: 1px solid config.$input-border;
    color: config.$input-color;
    font-size: config.$input-font-size;
    padding: config.$gutter-eighth config.$gutter-quarter;

    &:not([type="checkbox"]) {
        &:focus, &:active {
            outline: 1px solid config.$input-focus-color;
            box-shadow: 0 0 2px config.$input-shadow-color;
        }
    }

    &[type="checkbox"] {
        accent-color: config.$input-shadow-color;
    }
}

.form-row {
    margin-bottom: config.$gutter-half;

    .form-control {
        width: 100%;
    }
}

.submit-container {
    display: flex;
    justify-content: flex-end;
}

.pixel-entry {
    appearance: textfield;
    text-align: center;
}

.file-input-container {
    position: relative;

    .hidden-file-input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        top: 0;
        left: 0;
    }
}

