@use "./config";

input, select, textarea {
    border-radius: config.$input-radius;
    background-color: config.$input-bg-color;
    border: 1px solid config.$input-border;
    color: config.$input-color;
    font-size: config.$input-font-size;
    padding: config.$gutter-eighth config.$gutter-quarter;

    &:not([type="checkbox"]) {
        &:focus, &:active {
            outline: 1px solid config.$input-focus-color;
            box-shadow: 0 0 2px config.$input-shadow-color;
        }
    }

    &[type="checkbox"], &[type="radio"] {
        accent-color: config.$input-shadow-color;
    }

    &[disabled] {
        opacity: 0.6;
    }
}

.form-row {
    &.form-row-h {
        display: flex;
        gap: config.$gutter-half;
        flex-wrap: wrap;
        align-items: center;

        .form-group {
            display: flex;
            gap: config.$gutter-quarter;
        }
    }
}

textarea.code {
    color: config.$code-color;

    &.export-code {
        resize: vertical;
    }
}

.form-control {
    width: 100%;
}

.form-vertical {
    display: flex;
    flex-direction: column;
    gap: config.$gutter-half;
}

.submit-container {
    display: flex;
    justify-content: flex-end;
}

.pixel-entry {
    appearance: textfield;
    text-align: center;
}

.file-input-container {
    position: relative;

    .hidden-file-input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        top: 0;
        left: 0;
    }
}

