@use "./config";

.icon {
    &.disabled {
        opacity: 0.5 !important;
        cursor: not-allowed !important;
    }
}

.icon-svg {
    $size: 1.5em;

    // copied mostly from fontawesome
    display: inline-block;
    line-height: 1;
    text-align: center;
    vertical-align: middle;

    svg {
        width: $size;
        height: $size;
        stroke: currentColor;
        fill: currentColor;
        stroke-width: 0;
    }
}
