@use "./config";

.popover {
    position: absolute;
    transform: translate(#{-1.25 * config.$gutter}, config.$gutter);
    z-index: 100;
    border: 2px solid config.$border-color;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(black, 0.75),
    0 0 5px rgba(black, 0.35);
    background-color: config.$card-body-bg;

    &:before {
        $arrow-offset: 2rem;
        $arrow-size: 1rem;

        content: "";
        position: absolute;
        top: -2px;
        left: $arrow-offset;
        height: $arrow-size;
        width: $arrow-size;
        background-color: config.$card-title-bg;
        border-top: inherit;
        border-left: inherit;
        box-shadow: inherit;
        transform: rotate(45deg) translate(-50%);
        z-index: -1;
    }

    .popover-header {
        background-color: config.$card-title-bg;
        padding: config.$gutter-half;
        border-bottom: 2px solid config.$border-color;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        gap: config.$gutter-quarter;
        align-items: center;

        .popover-title {
            flex: 1;
        }

        .close-x {
            cursor: pointer;
            color: config.$muted-color;
            transition: color 100ms linear;

            &:hover {
                opacity: 1;
                color: config.$color;
            }
        }
    }

    .popover-content {
        padding: config.$gutter-half;
    }
}
