@use "sass:color";
@use "sass:math";
@use "./config";

.toast-container {
    display: flex;
    flex-direction: column;
    gap: config.$gutter;
    position: fixed;
    top: 0;
    right: 0;
    padding: config.$gutter;
    z-index: config.$z-index-toast;
    max-width: 25em;
}

.popover {
    position: absolute;
    transform: translateX((-1.25 * config.$gutter)) translateY(config.$gutter);
    z-index: config.$z-index-popover;
    border: 2px solid config.$border-color;
    border-radius: 4px;
    box-shadow:
        2px 2px 2px rgba(black, 0.75),
        0 0 5px rgba(black, 0.35);
    background-color: config.$card-body-bg;

    .arrow {
        $arrow-size: 16px;

        content: "";
        position: absolute;
        top: -3px;
        height: $arrow-size;
        width: $arrow-size;
        background-color: config.$card-title-bg;
        border-top: inherit;
        border-left: inherit;
        box-shadow: inherit;
        transform: translateX($arrow-size) rotate(45deg) translateX(-50%);
        z-index: -1;
    }

    &.toast {
        position: static;
        transform: none;
    }

    &.success {
        border-color: config.$success-border;
        &, .popover-content {
            background-color: config.$success-bg;
        }
    }
    &.danger {
        border-color: config.$danger-border;
        &, .popover-content{
            background-color: config.$danger-bg;
        }

        .popover-header {
            background-color: color.adjust(config.$danger-bg, $lightness: -5%);
            border-color: config.$danger-border;
            color: config.$danger-color;
        }
    }

    &.no-header {
        .popover-header {
            display: none;
        }
        .arrow {
            background-color: config.$card-body-bg;
        }
    }

    &.dropdown {
        .popover-content {
            padding: 0;
        }
    }

    .popover-header {
        background-color: config.$card-title-bg;
        padding: config.$gutter-half;
        border-bottom: 2px solid config.$border-color;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        gap: config.$gutter-quarter;
        align-items: center;

        .popover-title {
            flex: 1;
        }

        .close-x {
            cursor: pointer;
            color: config.$muted-color;
            transition: color 100ms linear;

            &:hover {
                opacity: 1;
                color: config.$color;
            }
        }
    }

    .popover-content {
        background-color: config.$card-body-bg;
        padding: config.$gutter-half;
    }
}
