@use "./config";

.project-container, .project-structure {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project-container {
    margin-right: -(config.$sidebar-border-width); // used to handle the active item
}

.project-structure {
    gap: config.$gutter-quarter;
    padding: config.$sidebar-padding-y 0 config.$sidebar-padding-y config.$sidebar-padding-x;

    .project-structure-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: config.$gutter-quarter;

        .project-name {
            font-weight: bold;
            flex: 1;
        }
    }

    .project-stats {
        display: flex;
        gap: config.$gutter-quarter;
        justify-content: space-between;
        align-items: center;
        font-size: 75%;
        color: rgba(config.$color, 0.5);
        transition: color linear 100ms;

        &:hover {
            color: config.$color;
        }

        .loaded-file-link-container {
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }

        .loaded-file-link {
            color: inherit;
            text-decoration: underline;
        }
    }

    .group-name-container {
        flex: 1;
        display: flex;
        gap: config.$gutter-quarter;
        align-items: center;
        cursor: pointer;

        .collapse-icon {
            transition: transform 150ms linear;
        }

        .group-name {
            font-weight: bold;
        }
    }

    .section-item {
        padding-right: config.$sidebar-padding-x;
    }

    .project-objects {
        display: flex;
        flex-direction: column;
        gap: config.$gutter-half;
        font-size: 90%;
        overflow: auto;
    }

    .group-items {
        display: flex;
        flex-direction: column;
        gap: config.$gutter-quarter;
        padding-left: config.$gutter-half;
        border-left: 1px solid rgba(config.$border-color, 1);
        margin-left: 0.95em; // makes it align with the chevron point, totally foolproof
    }

    .group-item {
        padding: config.$gutter-quarter config.$sidebar-padding-x config.$gutter-quarter config.$gutter-quarter;
        &:hover {
            background-color: rgba(config.$accent-bg, 0.5);
        }
    }

    .project-item-group {
        display: flex;
        flex-direction: column;

        &.closed {
            .collapse-icon {
                transform: rotate(180deg);
            }

            .group-items {
                .project-item:not(.active) {
                    display: none;
                }
            }
        }
    }

    .project-item {
        display: flex;
        flex-direction: column;
        gap: config.$gutter-eighth;
        padding: config.$gutter-quarter config.$sidebar-padding-x config.$gutter-quarter config.$gutter-quarter;
        border: 2px solid transparent;
        border-right: none;
        position: relative;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        cursor: pointer;
        opacity: 0.75;
        transition: opacity linear 150ms;

        $thumbnail-width: 1.25rem;

        &:hover {
            opacity: 1;
            &:not(&.active) {
                background-color: rgba(config.$accent-bg, 0.5);
            }
        }

        &.active {
            background-color: config.$canvas-sidebar-bg;
            border-color: config.$border-color;
            cursor: default;
            opacity: 1;

            .item-name {
                color: config.$primary-color;
                font-weight: bold;
            }
        }

        .object-info {
            display: flex;
            align-items: center;
            gap: config.$gutter-eighth;
            overflow: hidden;

            [data-drag-handle] {
                flex-basis: $thumbnail-width;
                flex-grow: 0;
                flex-shrink: 0;
            }

            .object-details {
                flex: 1;
                display: flex;
                justify-content: space-between;
                gap: config.$gutter-quarter;
                font-size: 80%;
            }

            .display-mode-details, .no-display-mode-details {
                display: flex;
                gap: config.$gutter-quarter;
                align-items: center;
            }

            .palette-set-preview {
                height: 1em;
                width: 9.5em; // seems to be gradient artifacts in firefox at certain widths
                border: 1px solid config.$border-color;
                border-radius: 2px;
                box-shadow: 1px 1px 1px black;
                opacity: 0.75;
                transition: opacity linear 100ms;

                &:hover {
                    opacity: 1;
                }
            }

            .canvas-palette-details {
                display: flex;
                gap: config.$gutter-quarter;
                align-items: center;

                .palette-color-list {
                    display: flex;
                    gap: config.$gutter-eighth;
                }
            }
        }

        .object-thumbnail {
            position: relative;

            &, canvas {
                width: $thumbnail-width;
                height: $thumbnail-width;
            }

            canvas {
                object-fit: contain;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .project-list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition:
            color linear 100ms,
            background-color linear 100ms;

        .item-name {
            padding: config.$gutter-quarter config.$gutter-quarter;
            flex: 1;
            color: config.$color;
            text-decoration: none;
        }
    }

    .item-controls {
        display: flex;
        gap: config.$gutter-quarter;
        flex-shrink: 0;
    }
}
