@use "./config";

.color-swatch-list {
    display: flex;
    gap: config.$gutter-quarter;
    justify-content: center;
    align-items: center;
}

.color-swatch {
    width: 1.25em;
    height: 1.25em;
    border: 1px solid black;
    box-shadow: 1px 1px 2px rgba(black, 0.5);
    border-radius: 2px;
    cursor: pointer;

    &:hover, &.active {
        border: 1px solid white;
        box-shadow: 2px 2px 5px rgba(black, 0.75);
    }
}
