@use "sass:color";
@use "./config";

table {
    font-size: 85%;
    border-collapse: collapse;
    width: 100%;
    background-color: config.$table-bg;

    thead th {
        background-color: color.adjust(config.$table-bg, $lightness: -2%);
    }

    td, th {
        padding: config.$gutter-half;
        border: 1px solid config.$border-color;

        p {
            margin-bottom: config.$gutter-eighth;
        }
    }

    &.compact {
        td, th {
            padding: config.$gutter-quarter config.$gutter-half;
        }
    }

    &.form {
        td, th {
            border: none;
            padding: config.$gutter-quarter;
        }
        th {
            text-align: right;
        }
    }

    &.hoverable {
        tr:hover {
            td {
                background-image: linear-gradient(to bottom, config.$table-bg-hover, color.adjust(config.$table-bg-hover, $lightness: -5%));
            }
        }
    }

    &.borderless {
        &, td, th {
            border: none;
        }
    }

    &.selectable {
        cursor: pointer;
    }
}
