@use "./config";

.text-success {
    color: config.$success-color !important;
}

.text-primary {
    color: config.$primary-color !important;
}

.text-secondary {
    color: config.$secondary-color !important;
}

.text-danger {
    color: config.$danger-color !important;
}

.text-warn {
    color: config.$warn-color !important;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: config.$muted-color;
}

.text-antrax {
    font-weight: bold;
    color: transparent !important;
    background-clip: text;
    background-image: linear-gradient(to right, #82450b, #bca73c, #aeeb64, #629fd9, #5e48ce);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
}
