@use "./config";

.text-success {
    color: config.$success-color !important;
}

.text-primary {
    color: config.$primary-color !important;
}

.text-danger {
    color: config.$danger-color !important;
}

.text-warn {
    color: config.$warn-color !important;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: config.$muted-color;
}
