@use "sass:color";
@use "sass:math";

@use "../node_modules/@fortawesome/fontawesome-free/scss/variables" with (
    $font-path: "/fonts",
);
@use "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@use "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@use "../node_modules/@fortawesome/fontawesome-free/scss/regular";

@use "./css/config.scss";

@use "./css/reset.scss";

@use "./css/alert.scss";
@use "./css/button.scss";
@use "./css/canvas.scss";
@use "./css/canvas-gutter.scss";
@use "./css/changelog.scss";
@use "./css/color-picker.scss";
@use "./css/draggable.scss";
@use "./css/dropdown.scss";
@use "./css/empty-project.scss";
@use "./css/export.scss";
@use "./css/fonts.scss";
@use "./css/form.scss";
@use "./css/group-animate.scss";
@use "./css/help-modal.scss";
@use "./css/icon.scss";
@use "./css/keyboard.scss";
@use "./css/modal.scss";
@use "./css/multiselect.scss";
@use "./css/palette.scss";
@use "./css/popover.scss";
@use "./css/project.scss";
@use "./css/swatch.scss";
@use "./css/table.scss";
@use "./css/text.scss";
@use "./css/zoom-control.scss";

html, body {
    height: 100%;
}

body {
    background-color: config.$bg-color;
    font-family: config.$font-sans;
    color: config.$color;
    font-size: 14px;
    overflow: hidden;

    &.no-user-select {
        user-select: none !important;
    }
}

a {
    color: config.$primary-color;
}

kbd, tt, code {
    font-family: config.$font-mono;
}

hr {
    border-color: config.$border-color;
    margin: config.$gutter-half 0;
}

.app {
    display: flex;
    height: 100%;
    align-items: stretch;
}

.main-sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: config.$sidebar-width;
    background-color: config.$sidebar-bg-color;
    border-right: config.$sidebar-border-width solid config.$border-color;
    z-index: 2;
}

.app-logo {
    justify-content: center;

    .text-antrax {
        font-size: 125%;
    }
    :not(.text-antrax) {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        font-size: 90%;
    }

    small {
        font-size: 75%;
    }
}

.project-header {
    height: config.$header-height;
    display: flex;
    align-items: center;
    background-color: config.$header-bg-color;
    border-bottom: 2px solid config.$border-color;
    flex-shrink: 0;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.middle-content {
    flex: 1;
    display: flex;
    overflow: hidden; // allows color list to scroll

    .canvas-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .canvas-container {
        flex: 1;
        position: relative;
        overflow: hidden;
        background-color: config.$canvas-container-bg;
        &.panning-start {
            &, canvas {
                cursor: grab !important;
            }
        }
        &.panning {
            &, canvas {
                cursor: grabbing !important;
            }
        }
    }

    .canvas-sidebar {
        flex-shrink: 0;
        flex-basis: config.$canvas-sidebar-width;
        border-right: 2px solid config.$border-color;
        background-color: config.$canvas-sidebar-bg;
        font-size: 90%;
        padding: config.$gutter-quarter;

        // allows color list to scroll
        display: flex;
        flex-direction: column;

        hr {
            width: 100%;
        }

        .has-selected-object, .no-selected-object {
            // allows color list to scroll
            overflow: hidden;
            display: flex;
            flex-direction: column;

            &.hidden {
                display: none;
            }
        }

        .has-selected-object {
            > section {
                font-size: 90%;
            }
        }

        .no-selected-object {
            align-items: center;
            padding: config.$gutter-quarter;

            p {
                margin-bottom: config.$gutter;
            }
        }

        .canvas-controls {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: config.$gutter-quarter;
        }

        .canvas-palette-details {
            display: flex;
            gap: config.$gutter-half;
            justify-content: space-between;
            align-items: center;
            height: 1.7em; // nailed it, purely to prevent it from shifting around when elements are hidden

            .canvas-palette-colors {
                display: flex;
                gap: config.$gutter-eighth;
            }

            .palette-not-allowed {
                flex: 1;
                display: none;
                text-align: center;
                color: config.$muted-color;
                font-style: italic;
            }
        }

        .color-list {
            display: flex;
            flex-direction: column;
            gap: config.$gutter-eighth;

            // allows scrolling
            overflow: auto;

            .color-item {
                display: flex;
                justify-content: space-between;
                cursor: pointer;

                &.active {
                    cursor: default;
                    .label {
                        font-weight: bold;
                        color: config.$primary-color;
                    }

                    .color.selectable {
                        border-color: white;
                    }
                }

                &:hover {
                    .label {
                        color: config.$primary-color;
                    }

                    .color.selectable {
                        border-color: white;
                    }
                }

                .label {
                    text-shadow: 1px 1px 1px rgba(black, 0.5);
                }
                .color {
                    $border-radius: 3px;
                    display: flex;
                    border: 1px solid transparent;
                    border-radius: $border-radius;

                    .color-swatch {
                        border-radius: $border-radius;
                    }
                }
            }
        }
    }
}

.transparent-checkerboard {
    // https://stackoverflow.com/a/65129916
    // duplicated in BackgroundCanvas.transparentColor1 and BackgroundCanvas.transparentColor2
    $color1: #8f8f8f;
    $color2: #a8a8a8;
    background-image: repeating-conic-gradient($color1 0 25%, $color2 0 50%);
    background-position: 0 50%;
    background-size: 8px 8px;
}

.clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    overflow-wrap: anywhere;
    word-break: break-all;
}

.has-info {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
}
