@use "sass:color";
@use "sass:math";

@use "../node_modules/@fortawesome/fontawesome-free/scss/variables" with (
    $font-path: "/fonts",
);
@use "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@use "../node_modules/@fortawesome/fontawesome-free/scss/solid";

@use "./css/config.scss";

@use "./css/button.scss";
@use "./css/changelog.scss";
@use "./css/color-picker.scss";
@use "./css/dropdown.scss";
@use "./css/form.scss";
@use "./css/modal.scss";
@use "./css/palette.scss";
@use "./css/popover.scss";
@use "./css/swatch.scss";
@use "./css/text.scss";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: config.$bg-color;
    font-family: config.$font-sans;
    color: config.$color;
    font-size: 14px;
    overflow: hidden;
}

a {
    color: config.$primary-color;
}

kbd, tt, code {
    font-family: config.$font-mono;
}

p {
    margin: 0;
}

hr {
    border-color: config.$border-color;
}

.app {
    display: flex;
    height: 100%;
    align-items: stretch;
}

.indented-list {
    margin-left: config.$gutter-half;
}

.main-sidebar {
    $border-width: 2px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: config.$sidebar-width;
    background-color: config.$sidebar-bg-color;
    border-right: $border-width solid config.$border-color;
    z-index: 2;

    .project-structure {
        display: flex;
        flex-direction: column;
        gap: config.$gutter;
        padding: config.$sidebar-padding-y 0 config.$sidebar-padding-y config.$sidebar-padding-x;
        overflow: hidden;
        margin-right: -$border-width; // used to handle the active item

        .project-name {
            font-weight: bold;
            flex-shrink: 0;
        }

        .group-name {
            font-weight: bold;
            margin-bottom: config.$gutter-quarter;
        }

        .project-controls {
            display: flex;
            justify-content: center;
            gap: config.$gutter-quarter;
        }

        .section-item {
            padding-right: config.$sidebar-padding-x;
        }

        .project-objects {
            display: flex;
            flex-direction: column;
            gap: config.$gutter-half;
            font-size: 90%;
            overflow: auto;
        }

        .group-items {
            display: flex;
            flex-direction: column;
            gap: config.$gutter-quarter;
        }

        .project-item {
            display: flex;
            flex-direction: column;
            gap: config.$gutter-eighth;
            padding: config.$gutter-eighth config.$sidebar-padding-x config.$gutter-eighth config.$gutter-quarter;
            border: 2px solid transparent;
            border-right: none;
            position: relative;

            &:hover {
                &:not(&.active) {
                    background-color: rgba(config.$accent-bg, 0.5);
                }
            }

            &.active {
                background-color: config.$canvas-sidebar-bg;
                border-color: config.$border-color;

                a {
                    cursor: default;
                }

                .object-info {
                    display: flex;
                }

                .item-name {
                    color: config.$primary-color;
                    font-weight: bold;
                }
            }

            .object-info {
                display: none;
                flex-direction: column;
                gap: config.$gutter-eighth;
                font-size: 80%;

                .object-details {
                    display: flex;
                    gap: config.$gutter-half;
                    margin: 0 auto;
                }

                .canvas-palette-details {
                    display: flex;
                    gap: config.$gutter-quarter;
                    align-items: center;

                    .palette-color-list {
                        display: flex;
                        gap: config.$gutter-eighth;
                    }
                }
            }

            .object-thumbnail {
                width: 1.25rem;
                height: 1.25rem;
                object-fit: contain;
                display: block;
            }
        }

        .project-list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition:
                color linear 100ms,
                background-color linear 100ms;

            .item-name {
                padding: config.$gutter-quarter config.$gutter-quarter;
                flex: 1;
                color: config.$color;
                text-decoration: none;
            }

            .item-controls {
                display: flex;
                gap: config.$gutter-quarter;
                flex-shrink: 0;
            }
        }
    }
}

.app-logo {
    justify-content: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px rgba(255, 255, 0, 0.25);

    small {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
        font-size: 75%;
    }
}

.project-header {
    height: config.$header-height;
    display: flex;
    align-items: center;
    background-color: config.$header-bg-color;
    border-bottom: 2px solid config.$border-color;
    flex-shrink: 0;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.middle-content {
    flex: 1;
    display: flex;

    .canvas-container {
        flex: 1;
        position: relative;
        overflow: hidden;
        &.panning-start {
            &, canvas {
                cursor: grab !important;
            }
        }
        &.panning {
            &, canvas {
                cursor: grabbing !important;
            }
        }
    }

    .canvas-sidebar {
        flex-shrink: 0;
        flex-basis: config.$canvas-sidebar-width;
        border-right: 2px solid config.$border-color;
        background-color: config.$canvas-sidebar-bg;
        font-size: 90%;
        padding: config.$gutter-quarter;

        hr {
            width: 100%;
        }

        .indented-list {
            margin-left: config.$gutter-quarter;
            display: flex;
            flex-direction: column;
            gap: config.$gutter-eighth;
            font-size: 95%;
        }

        .has-selected-object {
            display: none;
        }

        .no-selected-object {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: config.$gutter-quarter;
            p {
                margin-bottom: config.$gutter;
            }
        }

        .group-name {
            font-weight: bold;
            text-shadow: 1px 1px 1px rgba(black, 0.6);
        }

        .object-name {
            font-weight: bold;
            text-shadow: 1px 1px 1px rgba(black, 0.6);
        }

        .object-details {
            display: flex;
            gap: config.$gutter-eighth;
        }

        .canvas-palette-details {
            display: flex;
            gap: config.$gutter-half;
            justify-content: space-between;
            align-items: center;

            .canvas-palette-colors {
                display: flex;
                gap: config.$gutter-eighth;
            }
        }

        .color-list {
            display: flex;
            flex-direction: column;
            gap: config.$gutter-eighth;

            .color-item {
                display: flex;
                justify-content: space-between;

                &.active {
                    .label {
                        font-weight: bold;
                        color: config.$primary-color;
                    }

                    .color.selectable {
                        border-color: white;
                    }
                }

                .label {
                    text-shadow: 1px 1px 1px rgba(black, 0.5);
                }
                .color {
                    display: flex;
                    border: 1px solid transparent;
                    border-radius: 3px;

                    &.selectable {
                        cursor: pointer;
                        &:hover {
                            border-color: white;
                        }
                    }

                    .color-swatch {
                        border-radius: 3px;
                    }
                }
            }
        }
    }

    .canvas-area {
        flex: 1;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.canvas-gutter {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: config.$gutter;

    height: config.$editor-gutter-height;
    border-top: 2px solid config.$border-color;
    background-color: config.$sidebar-bg-color;
    font-size: 80%;
    padding-left: config.$gutter;

    .gutter-list {
        display: flex;
        gap: config.$gutter;
        align-items: center;
        padding: config.$editor-gutter-padding;
    }

    .link-list {
        font-size: 0.9rem;
        display: flex;
        gap: config.$gutter-half;
        a {
            opacity: 0.75;
            transition: opacity linear 100ms;
            text-shadow: 1px 1px 1px rgba(black, 0.35);

            &:hover {
                opacity: 1;
            }
        }
    }

    .zoom-level-label {
        cursor: pointer;
    }

    .zoom-level-value {
        display: inline-block;
        width: 2.2em; // totally rock solid
    }

    .divider {
        height: 100%;
        border-right: 2px solid config.$border-color;
    }

    .breadcrumb {
        display: flex;
        gap: config.$gutter-eighth;
        .active-group-name, .active-object-name {
            max-width: 10em;
        }

        .breadcrumb-divider {
            color: config.$muted-color;
        }
    }
}

canvas {
    &.editor {
        border: 2px solid gray;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        image-rendering: pixelated;
        cursor: crosshair;
    }

    &.editor-grid, &.editor-hover {
        pointer-events: none;
        position: absolute;
        image-rendering: pixelated;
    }
}

kbd {
    display: inline-block;
    font-size: 90%;
    border: 1px solid config.$secondary-border;
    border-radius: 2px;
    padding: 2px 4px;
    text-align: center;
    font-family: monospace;
    background-color: config.$secondary-bg;
    background-image: linear-gradient(to bottom, config.$secondary-bg, color.adjust(config.$secondary-bg, $lightness: -5%));
}

.clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
